.form{
    justify-self: center;
    width:auto;
    border-radius: 2rem;
    border:solid 2px rgb(150, 205, 248);
    background-color: rgb(87, 111, 235);
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 2rem;
    padding: 5%;
    transition: all 400ms ease;
}

.form:hover{
    background-color: rgb(150, 205, 248);
    border: solid 2px rgb(87, 111, 235);
}

.item1,.item2{
    border-radius: 2rem;
    height: 25px;
    width: 260px;
    background-color:cyan;
    padding: 2%;
}

.item3{
    border-radius: 2rem;
    height: 35px;
    width: 200px;
    padding: 2%;
    background-color: cyan;
    transition: all 400ms ease;
    opacity: 0.6;
}

.item3:hover{
    cursor: pointer;
    opacity: 1;
}